*{
margin: 0;
padding: 0;
}
body {
background-color: gray;
font-size: 62.5%;
padding: 0;
margin: 0;
}
.wrapper {
width: 900px;
font-size: 1.6em;
margin: 0 auto;
background-color: white;
}
main{
padding: 2em;
position: relative;
}
p {
 padding:0 0 iem 0;
}
main {
padding: 2em;
}
.art-img{
float: left;
margin: 10px;
}
h3{
margin-bottom: iem;
}